<div class="row-fluid">
	<div class="span8">
		<br/>
		<% for indicator in entry.class.indicators2 %>
			<h4><%= indicator.full_name%>: </h4> <br/>
		<% end %>
	</div>
		
	<div class="span4">
		<br/>
		<% for indicator in entry.class.indicators2 %>
			<%= indicator.pretty_print(entry.detail) %> <br/><br/>
		<% end %>
	</div>
</div>