<%= simple_form_for :time_filter, :remote => true, :html => {:"data-spinner" => "#time_filter_spinner"} do |f| %>
	<div class="inputs">
		<div class="row">
			<div class="span4">
				<% if parent %>
					<%=f.hidden_field :id, :value => parent.id %>
				<% end %>
				<%= f.input :start_time, :label=> false, :as => :date, :start_year => 2011, :discard_day => true,
                              :order => [:month, :year], :default=> Time.now.prev_month.beginning_of_month, :input_html => { :class => "span2" } %> 
			</div>
			<% end %>

			<div class="span8">
				<%= medium_spinner_tag 'time_filter_spinner' %>
			  
					<div class="btn-group pull-right">
						<a id="visualization_selector" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<% if parent.class.name!="Visitor" %>
							<i class="icon-signal"></i> Overall Barchart 
						<% else %>
							<i class="icon-time"></i> Trend
						<% end %>
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						<!-- dropdown menu links -->
					    <ul class="nav nav-list">
							<li class="nav-header">
								Look at
							</li>
							<% if parent.class.name!="Visitor" %>
								<li class="active"><a href="#total_compliance_barchart" id="total_compliance_barchart_link" data-toggle="tab"><i class="icon-signal"></i> Overall Barchart</a></li>
								<li><a href="#total_compliance_barchart" id="activity_compliance_barchart_link" data-toggle="tab"><i class="icon-signal"></i> Detailed Barchart</a></li>
							<% end %>
							<li><a href="#total_compliance_barchart" id="total_compliance_trend_link" data-toggle="tab"><i class="icon-time"></i> Trend</a></li>
							<li><a href="#activity_map" id="activity_map_link" data-toggle="tab"><i class="icon-globe"></i> Map</a></li>
						</ul>
					</div>
			</div>
		</div>
	</div>